body {
    width: 100%;
    height: 13.34rem;
    background: #EBEBEB;
    position: relative;
}

.floor {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #FF9600;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.floor a {
    display: inline-block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    color: white;
}
.bigbox{
    width: 100%;height: 100%;
}
.address {
    width: 95%;
    height: 1.8rem;
    background: white;
    padding: 2.5%;
    margin-bottom: 5px;
}

.address .address-top {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    color: black;
}

.address .address-top .name {
    display: inline-block;
    width: 20%;
}
.address .address-middle{
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    border-bottom: 1px solid #EFEFEF;
    color: #A0A0A0;
}
.address .address-bottom{
    width: 100%;
    height: 0.65rem;
    line-height: 0.65rem;
    margin-top: 0.1rem;
    color: #A0A0A0;
    position: relative;

}
.address .address-bottom form{
    line-height: 0.25rem;
    display: inline-block;

}
.address .address-bottom form label{
}
.address .address-bottom form input{
    width: 0.3rem;
    height: 0.3rem;

}
.address .address-bottom form i{
    display: inline-block;
    margin-top: 10px;
}

.address .address-bottom span{
    display: inline-block;
}
.address .address-bottom span img{
    width: 0.3rem;
    height: 0.34rem;
    vertical-align: middle;
    margin: 3px;
}
.address .address-bottom .btn{
    display: inline-block;
}
.address .address-bottom .btn .span1{
    position: absolute;
    top:0;
    left: 60%;
}
.address .address-bottom .btn .span2{
    position: absolute;
    top:0;

    left: 78%;
}
